table {
    width: 80%;
  }
 .centerItem{
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 .float-right{
  float: right;
 }

 .mr-30{
  margin-right: 30px;
 }

 .w-60{
  width: 35%;
 }
 
#addBtnDivId{
    display: flex;
    justify-content: end;
    margin-right: 175px;
    margin-bottom: 15px;
}
