
<h1 mat-dialog-title>{{result.title}}</h1>
<hr>
<div mat-dialog-content *ngIf="!result.showDeletePoppup">
    <app-add-edit-emp [empData]="result"></app-add-edit-emp>
</div>
<div *ngIf="result.showDeletePoppup">
  <div mat-dialog-content>
    Would you like to delete employee details?
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>No</button>
    <button mat-button mat-dialog-close cdkFocusInitial (click)="deleteEmployeeDetails(result.dataItem.emp_id)">Yes</button>
  </div>
</div>
<!-- <div mat-dialog-actions>
  <button mat-stroked-button cdkFocusInitial color="primary">{{result.btn}}</button>
  <button mat-stroked-button  mat-dialog-close color="warn">Cancel</button>
</div> -->

