
<h1 mat-dialog-title>Add Employee Details</h1>
<hr>
<div mat-dialog-content  class="centerForm">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Role</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Salary</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input matInput>
      </mat-form-field>
</div>
<hr>
<div mat-dialog-actions>
  <button mat-stroked-button cdkFocusInitial color="primary">Add</button>
  <button mat-stroked-button  mat-dialog-close color="warn">Cancel</button>
</div>

<!-- <h3>{{data}}</h3> -->